  /* Sections Header
  --------------------------------*/
  .section-header {
    margin-bottom: 40px;
    position: relative;
    padding-bottom: 20px;
  }

  #dom{
    width: 75%; margin-bottom: 20px; border-radius: 10px;transition: transform .4s;
  }

  #dom:hover{
    transform: scale(1.1);
  }
  
  .section-header::before {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 5px;
    background: #00577d;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .section-header h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .section-header p {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #f9fafc;
  }
  
  .section-with-bg {
    background-color: #f6f7fd;
  }
  
  /*--------------------------------------------------------------
  # Intro Section
  --------------------------------------------------------------*/
  #intro {
    width: 100%;
    height: 100vh;
    background: url(../img/team.png) top center;
    background-position: 0 -150px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  #overlay {
    position: absolute;
    width: 100%;
    height: 100%!important;
    background: transparent!important;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
  }
  
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  } 

  #in{
    background-color: #0e76a8;
    color: white; 
    padding: 10px 11px; 
    border-radius: 50%; 

  }

  #in:hover{
    color: #0e76a8;
    background-color: rgb(241, 241, 241); 
    transition: .3s;
  }
  
  @media (min-width: 1024px) {
    #intro {
      background-attachment: fixed;
      background-size: cover;
    }
  }

  @media all and (max-width: 1080px){
    #intro {
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
      position: relative;
    }

    #overlay {
      position: absolute;
      width: 100%;
      height: 100vh!important;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: transparent;
      z-index: 2;
      cursor: pointer;
    }

    #in{ 
      padding: 15px 15px;
      font-size: 20px;
      left: 260px;
      top: 290px;
    }
  }
  
  #intro:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #intro .intro-container {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 90px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
  }
  
  @media (max-width: 991px) {
    #intro .intro-container {
      top: 70px;
    }
  }
  
  #intro h1 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 56px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  #intro h1 span {
    color: #1ab4e8;
  }
  
  @media (max-width: 991px) {
    #intro h1 {
      font-size: 34px;
    }
  }
  
  #intro p {
    color: #ebebeb;
    font-weight: 700;
    font-size: 20px;
  }
  
  @media (max-width: 991px) {
    #intro p {
      font-size: 16px;
    }
  }
  
  #intro .about-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #1ab4e8;
  }
  
  #intro .about-btn:hover {
    background: #039dfc;
    color: #fff;
  }
  
  @-webkit-keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 2s steps(22) 1s 1 normal both,
             blinkTextCursor 500ms steps(22) 0s 7 normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 10.5em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
  
  /*--------------------------------------------------------------
  # About Section
  --------------------------------------------------------------*/
  #about {
    overflow: hidden;
    position: relative;
    color: #fff;
    padding: 60px 0 40px 0;
  }
  
  @media (min-width: 1024px) {
    #about {
      background-attachment: fixed;
    }
  }
  
  #about:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #about h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
  }
  
  #about h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    color:black;
  }
  
  #about p {
    font-size: 14px;
    margin-bottom: 20px;
    color:black;
  }
  
  /*--------------------------------------------------------------
  # Speakers Section
  --------------------------------------------------------------*/
  #speakers {
    padding: 60px 0 30px 0;
  }
  
  #speakers .speaker {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  #speakers .speaker .details {
    background: rgba(6, 12, 34, 0.76);
    position: absolute;
    left: 0;
    bottom: -30px;
    right: 0;
    text-align: center;
    padding-top: 10px;
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  #speakers .speaker .details h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  #speakers .speaker .details p {
    color: #fff;
    font-size: 15px;
    margin-bottom: 10px;
    font-style: italic;
  }
  
  #speakers .speaker .details .social {
    height: 30px;
  }
  
  #speakers .speaker .details a {
    color: #fff;
  }
  
  #speakers .speaker .details a:hover {
    color: #1ab4e8;
  }
  
  #speakers .speaker:hover .details {
    bottom: 0;
  }
  
  #speakers-details {
    padding: 60px 0;
  }
  
  #speakers-details .details h2 {
    color: #112363;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  #speakers-details .details .social {
    margin-bottom: 15px;
  }
  
  #speakers-details .details .social a {
    background: #e9edfb;
    color: #112363;
    line-height: 1;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding-top: 9px;
  }
  
  #speakers-details .details .social a:hover {
    background: #1ab4e8;
    color: #fff;
  }
  
  #speakers-details .details .social a i {
    font-size: 18px;
  }
  
  #speakers-details .details p {
    color: #112363;
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  /*--------------------------------------------------------------
  # Hotels Section
  --------------------------------------------------------------*/
  #hotels {
    padding: 60px 0;
  }
  
  #hotels .hotel {
    border: 1px solid #e0e5fa;
    background: #fff;
    margin-bottom: 30px;
  }
  
  #hotels .hotel:hover .hotel-img img {
    transform: scale(1.1);
  }
  
  #hotels .hotel-img {
    overflow: hidden;
    margin-bottom: 15px;
    height: 220px;
  }
  
  #hotels .hotel-img img {
    transition: 0.3s ease-in-out;
  }
  
  #hotels h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
    padding: 0 20px;
  }
  
  #hotels a {
    color: #152b79;
  }
  
  #hotels a:hover {
    color: #1ab4e8;
  }
  
  #hotels .stars {
    padding: 0 20px;
    margin-bottom: 5px;
  }
  
  #hotels .stars i {
    color: #ffc31d;
  }
  
  #hotels p {
    padding: 0 20px;
    margin-bottom: 20px;
    color: #060c22;
    font-style: italic;
    font-size: 15px;
  }
  
  /*--------------------------------------------------------------
  # Gallery Section
  --------------------------------------------------------------*/
  #gallery {
    padding: 60px;
    overflow: hidden;
  }
  
  #gallery .owl-nav, #gallery .owl-dots {
    margin-top: 25px;
    text-align: center;
  }
  
  #gallery .owl-item {
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
  }
  
  #gallery .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
  }
  
  #gallery .owl-dot.active {
    background-color: #1ab4e8;
  }
  
  #gallery .gallery-carousel .owl-stage-outer {
    overflow: visible;
  }
  
  #gallery .gallery-carousel .center {
    border: 6px solid #1ab4e8;
    margin: -10px;
    box-sizing: content-box;
    padding: 4px;
    background: #fff;
    z-index: 1;
  }
  
  /*--------------------------------------------------------------
  # Sponsors Section
  --------------------------------------------------------------*/
  #supporters {
    padding: 60px 0;
  }
  
  #supporters .supporters-wrap {
    border-top: 1px solid #e0e5fa;
    border-left: 1px solid #e0e5fa;
    margin-bottom: 30px;
    
  }
  
  #supporters .supporter-logo {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    border-right: 1px solid #e0e5fa;
    border-bottom: 1px solid #e0e5fa;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5);
    height: 160px;
  }
  
  #supporters .supporter-logo h3:hover {
    transform: scale(1.05);
    transition: all 0.4s ease-in-out;
  }
  
  #supporters h3 {
    transition: all 0.4s ease-in-out;
  }
