#scroll-gif{
  width: 3em;
  animation: fadeIn .7s ease-in both;
  animation-delay: 3.5s;
  opacity: 0.5;
  margin-top: 100px;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, 0, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 2s steps(22) 1s 1 normal both,
             blinkTextCursor 500ms steps(22) 0s 7 normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 10.5em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.context {
    width: 100%;
    position: absolute;
    top:30vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #4e54c8;  
    background-image: linear-gradient(#253fa7, #0e1b4d); 
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;  
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
/* Sections Header
  --------------------------------*/
  .section-header {
    margin-bottom: 40px;
    position: relative;
    padding-bottom: 20px;
  }
  
  .section-header::before {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 5px;
    background: #00577d;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .section-header h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .section-header p {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #f9fafc;
  }
  
  .section-with-bg {
    background-color: #f6f7fd;
  }
  
  /*--------------------------------------------------------------
  # Intro Section
  --------------------------------------------------------------*/
  #intro{
    height: 100vh;
  }
  #intro h1 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 56px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  span {
    color: #1ab4e8;
  }
  
  @media (max-width: 991px) {
    #intro h1 {
      font-size: 34px;
    }
  }
  
  #intro p {
    color: #ebebeb;
    font-weight: 700;
    font-size: 20px;
  }
  
  @media (max-width: 991px) {
    #intro p {
      font-size: 16px;
    }
  }
  
.about-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #1ab4e8;
  }
  
.about-btn:hover {
    background: #1ab4e8;
    color: #fff!important;
    transform: scaleX(1.1);
  }
  
  @-webkit-keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  /*--------------------------------------------------------------
  # About Section
  --------------------------------------------------------------*/
  #about {
    background-size: cover;
    overflow: hidden;
    position: relative;
    color: #fff;
    padding: 60px 0 40px 0;
  }
  
  @media (min-width: 1024px) {
    #about {
      background-attachment: fixed;
    }
  }
  
  #about:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #about h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
  }
  
  #about h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    color:black;
  }
  
  #about p {
    font-size: 14px;
    margin-bottom: 20px;
    color:black;
  }

  /*--------------------------------------------------------------
  # Schedule Section
  --------------------------------------------------------------*/
  #schedule {
    padding: 60px 0 60px 0;
  }
  
  #schedule .nav-tabs {
    text-align: center;
    margin: auto;
    display: block;
    border-bottom: 0;
    margin-bottom: 30px;
  }
  
  #schedule .nav-tabs li {
    display: inline-block;
    margin-bottom: 0;
    margin: 0 20px 5px 20px;
  }
  
  #schedule .nav-tabs a {
    border: none;
    border-radius: 50px;
    font-weight: 600;
    background-color: #0e1b4d;
    color: rgb(168, 167, 167);
    padding: 10px 100px;
    transform: scale(0.9);
  }
  
  @media (max-width: 991px) {
    #schedule .nav-tabs a {
      padding: 8px 60px;
    }
  }
  
  @media (max-width: 767px) {
    #schedule .nav-tabs a {
      padding: 8px 50px;
    }
  }
  
  @media (max-width: 480px) {
    #schedule .nav-tabs a {
      padding: 8px 30px;
    }
  }
  
  #schedule .nav-tabs a.active {
    background-color: #1ab4e8;
    color: #fff;
    transform: scale(1.1);
  }
  
  #schedule .sub-heading {
    text-align: center;
    font-size: 18px;
    margin: 0 auto 30px auto;
  }
  
  @media (min-width: 991px) {
    #schedule .sub-heading {
      width: 75%;
    }
  }
  
  #schedule .tab-pane {
    transition: ease-in-out .2s;
  }
  
  #schedule .schedule-item {
    border-bottom: 1px solid #cad4f6;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: background-color ease-in-out 0.3s;
  }
  
  #schedule .schedule-item:hover {
    background-color: #fff;
  }
  
  #schedule .schedule-item time {
    padding-bottom: 5px;
    display: inline-block;
  }

  .speaker{
    border-radius: 10px; 
    box-shadow:5px 5px 10px 0px lightgrey; 
    padding-bottom: 1px;
    margin-bottom: 20px;
    background: white;
  }

  #in{
    background-color: #0e76a8;
    color: white; 
    padding: 8px 9px; 
    border-radius: 50%; 
    position: absolute; 
    top: 120px; 
    left: 170px;
    transition: .5s;
  }

  #in:hover{
    color: #0e76a8;
    background-color: rgb(206, 204, 204); 
    transform: scale(1.2);
  }
  
  #schedule .schedule-item .speaker {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin: 10px 10px 10px 0;
  }

  @media all and (max-width: 1080px){
    #schedule .schedule-item .speaker {
      width: 60px;
      height: 60px;
      overflow: hidden;
      border-radius: 50%;
      float: center;
    }
    #in{ 
      left: 12em!important;
    }
  }
  
  #schedule .schedule-item .speaker img {
    height: 100%;
    transform: translateX(-50%);
    margin-left: 50%;
    transition: all ease-in-out 0.3s;
  }
  
  #schedule .schedule-item h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  
  #schedule .schedule-item h4 span {
    font-style: italic;
    color: #19328e;
    font-weight: normal;
    font-size: 16px;
  }
  
  #schedule .schedule-item p {
    color: #152b79;
    margin-bottom: 0;
  }

  #schedule .read-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #1ab4e8;
  }
  
  #schedule .read-btn:hover {
    background: #039dfc;
    color: #fff;
  }

  .fa-arrow-right {
    color: #1ab4e8;
    font-size: 2rem;
    margin-top: 20px;
    float: right;
  }

  .fa-arrow-right:hover {
    color: #00577d;
    font-size: 2rem;
    float: right;
    transition: 0.5s;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  