  /* Sections Header
  --------------------------------*/
  .section-header {
    margin-bottom: 40px;
    position: relative;
    padding-bottom: 20px;
  }
  
  .section-header::before {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 5px;
    background: #00577d;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .section-header h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .section-header p {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #f9fafc;
  }
  
  .section-with-bg {
    background-color: #f6f7fd;
  }
  
  /*--------------------------------------------------------------
  # Intro Section
  --------------------------------------------------------------*/
  #intro {
    width: 100%;
    height: 100vh;
    background: url(../img/intro-bg.jpg) top center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
  }
  
  @media (min-width: 1024px) {
    #intro {
      background-attachment: fixed;
      background-size: cover;
    }
  }

  @media all and (max-width: 1080px){
    #intro {
      width: 100%;
      height: 100vh;
      background: url(../img/gifs/header-gif.gif) top center!important;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
      position: relative;
    }
  }
  
  #intro:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #intro .intro-container {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 90px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
  }
  
  @media (max-width: 991px) {
    #intro .intro-container {
      top: 70px;
    }
  }
  
  #intro h1 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 56px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  #intro h1 span {
    color: #1ab4e8;
  }
  
  @media (max-width: 991px) {
    #intro h1 {
      font-size: 34px;
    }
  }
  
  #intro p {
    color: #ebebeb;
    font-weight: 700;
    font-size: 20px;
  }
  
  @media (max-width: 991px) {
    #intro p {
      font-size: 16px;
    }
  }
  
.about-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #1ab4e8;
  }
  
.about-btn:hover {
    background: #1ab4e8;
    color: #fff!important;
    transform: scaleX(1.1);
  }
  
  @-webkit-keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  /*--------------------------------------------------------------
  # About Section
  --------------------------------------------------------------*/
  #about {
    background-size: cover;
    overflow: hidden;
    position: relative;
    color: #fff;
    padding: 60px 0 40px 0;
  }
  
  @media (min-width: 1024px) {
    #about {
      background-attachment: fixed;
    }
  }
  
  #about:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #about h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
  }
  
  #about h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    color:black;
  }
  
  #about p {
    font-size: 14px;
    margin-bottom: 20px;
    color:black;
  }

  /*--------------------------------------------------------------
  # Schedule Section
  --------------------------------------------------------------*/
  #schedule {
    padding: 60px 0 60px 0;
  }
  
  #schedule .nav-tabs {
    text-align: center;
    margin: auto;
    display: block;
    border-bottom: 0;
    margin-bottom: 30px;
  }
  
  #schedule .nav-tabs li {
    display: inline-block;
    margin-bottom: 0;
    margin: 0 20px 5px 20px;
  }
  
  #schedule .nav-tabs a {
    border: none;
    border-radius: 50px;
    font-weight: 600;
    background-color: #0e1b4d;
    color: rgb(168, 167, 167);
    padding: 10px 100px;
    transform: scale(0.9);
  }
  
  @media (max-width: 991px) {
    #schedule .nav-tabs a {
      padding: 8px 60px;
    }
  }
  
  @media (max-width: 767px) {
    #schedule .nav-tabs a {
      padding: 8px 50px;
    }
  }
  
  @media (max-width: 480px) {
    #schedule .nav-tabs a {
      padding: 8px 30px;
    }
  }
  
  #schedule .nav-tabs a.active {
    background-color: #1ab4e8;
    color: #fff;
    transform: scale(1.1);
  }
  
  #schedule .sub-heading {
    text-align: center;
    font-size: 18px;
    margin: 0 auto 30px auto;
  }
  
  @media (min-width: 991px) {
    #schedule .sub-heading {
      width: 75%;
    }
  }
  
  #schedule .tab-pane {
    transition: ease-in-out .2s;
  }
  
  #schedule .schedule-item {
    border-bottom: 1px solid #cad4f6;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: background-color ease-in-out 0.3s;
  }
  
  #schedule .schedule-item:hover {
    background-color: #fff;
  }
  
  #schedule .schedule-item time {
    padding-bottom: 5px;
    display: inline-block;
  }

  .speaker{
    border-radius: 10px; 
    box-shadow:5px 5px 10px 0px lightgrey; 
    padding-bottom: 1px;
    margin-bottom: 20px;
    background: white;
  }

  #in{
    background-color: #0e76a8;
    color: white; 
    padding: 8px 9px; 
    border-radius: 50%; 
    position: absolute; 
    top: 120px; 
    left: 170px;
    transition: .5s;
  }

  #in:hover{
    color: #0e76a8;
    background-color: rgb(206, 204, 204); 
    transform: scale(1.2);
  }
  
  #schedule .schedule-item .speaker {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin: 10px 10px 10px 0;
  }

  @media all and (max-width: 1080px){
    #schedule .schedule-item .speaker {
      width: 60px;
      height: 60px;
      overflow: hidden;
      border-radius: 50%;
      float: center;
    }
    #in{ 
      left: 190px;
    }
  }
  
  #schedule .schedule-item .speaker img {
    height: 100%;
    transform: translateX(-50%);
    margin-left: 50%;
    transition: all ease-in-out 0.3s;
  }
  
  #schedule .schedule-item h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  
  #schedule .schedule-item h4 span {
    font-style: italic;
    color: #19328e;
    font-weight: normal;
    font-size: 16px;
  }
  
  #schedule .schedule-item p {
    color: #152b79;
    margin-bottom: 0;
  }

  #schedule .read-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #1ab4e8;
  }
  
  #schedule .read-btn:hover {
    background: #039dfc;
    color: #fff;
  }

  .fa-arrow-right {
    color: #1ab4e8;
    font-size: 2rem;
    margin-top: 20px;
    float: right;
  }

  .fa-arrow-right:hover {
    color: #00577d;
    font-size: 2rem;
    float: right;
    transition: 0.5s;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  